# The API key fo webpagetest.org
# Try not to push it to github :)
key = "_API_KEY_"

# The start and end index of the domains we're testing
start = 0
end = 100

# Number of Tests to Run (up to 100)
runs = 9

# Task priority (0 to 9, highest: 0, lowest: 9, default: 5)
priority = 5

# Use http://www.webpagetest.org/getLocations.php?f=xml to hunt for locations and UAs
locations = ['Dulles:Firefox', 'Dulles:Chrome']

label = ""
endpoint = "https://www.webpagetest.org/runtest.php"
pingback = "http://presto-wpt.herokuapp.com/api/addDomain"
